{% load static %}
<!DOCTYPE html>
<html lang="ru" style="height: 100% !important;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static './img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static './css/style_l.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static './js/jquery-3.6.0.min.js' %}"></script>
    <title>Регистрация участника</title>
</head>
<body>
    <div class="container">
        <div class="row nav-up-40">
            <div class="col-xl-2 col-lg-4 col-md-4 col-6">
                <img src="{% static './img/logo 1.png' %}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center" style="padding: 20vh 0;">
            <div class="col-12" style="text-align: center">
                <span class="fs-1 main-text">Успешная регистрация!</span><br>
                <span class="fs-1 main-text">{{ person_.full_name }}</span>
            </div>
            <div class="col-12" style="text-align: center">
                <button type="button" class="btn btn-primary btn-lg"style="padding: 1em 1.5em;"><a href="https://testrsue1.herokuapp.com/">На главную</a></button>
            </div>
        </div>
    </div>
</body>
</html>
